<!DOCTYPE html>
<html lang="sk-SK">
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta content="text/html" http-equiv="Content-Type"/>
    <link rel=""/>
    <title>Email Signature</title>
  </head>
  <body>
    <p style="color: rgb(0, 0, 0); 
      font-family: 'Times New Roman'; font-size: medium; font-style: normal; 
      font-variant-ligatures: normal; font-variant-caps: normal;
      font-weight: 400; letter-spacing: normal; orphans: 2; text-align:
      start; text-indent: 0px; text-transform: none; white-space:
      normal; widows: 2; -thickness: initial; text-decoration-style:
      initial; text-decoration-color: initial;"><br>
    </p>
    <table class="MsoNormalTable" style="width: 443.55pt; margin-left:
      13.35pt; border-collapse: collapse;" width="592" cellspacing="0"
      cellpadding="0" border="0">
      <tbody>
        <tr style="height: 4.15pt;">
          <td colspan="2" style="width: 443.55pt; padding: 0cm 3.5pt;
            height: 49.15pt;" width="5word-spacing: 0px; -webkit-text-stroke-width:
      0px; text-decoration91" valign="top">
            <p class="MsoNormal" style="margin: 0cm 0cm 8pt;
              line-height: 15.6933px; font-size: 11pt; font-family:
              Calibri, sans-serif;"><i><span style="font-size: 10pt;
                  line-height: 14.2667px; font-family: Arial,
                  sans-serif;">S pozdravom / Kindest regards</span></i><span
                style="font-size: 10pt; line-height: 14.2667px;
                font-family: Arial, sans-serif;"><br>
                <br>
              </span><b><span style="font-size: 10pt; line-height:
                  14.2667px; font-family: Arial, sans-serif;">

                  #NAME

                  </span></b><span style="font-size: 10pt;
                line-height: 14.2667px; font-family: Arial, sans-serif;"><br>
              </span><i><span style="font-size: 10pt; line-height:
                  14.2667px; font-family: Arial, sans-serif;">
                  
                  #POSITION
                
                </span></i><span
                style="font-size: 10pt; line-height: 14.2667px;
                font-family: Arial, sans-serif;"></span></p>
          </td>
        </tr>
        <tr style="height: 61.75pt;">
          <td style="width: 114pt; padding: 0cm 3.5pt; height: 61.75pt;"
            width="152" valign="top">
            <p class="MsoNormal" style="margin: 0cm 0cm 8pt;
              line-height: 15.6933px; font-size: 11pt; font-family:
              Calibri, sans-serif;"><b><span style="font-family: Arial,
                  sans-serif; color: rgb(95, 58, 23);"><img 
                  src="https://klasfarm.sk/assets/vizitky/logo.png"
                  width="140" height="70"></span></b><span
                style="font-size: 10pt; line-height: 14.2667px;
                font-family: Arial, sans-serif;"></span></p>
          </td>
          <td style="width: 329.55pt; padding: 0cm 4pt; height:
            61.75pt;" width="439" valign="top">
              <p class="MsoNormal" style="margin: 0cm 0cm 8pt;
              line-height: 15.6933px; font-size: 11pt; font-family:
              Calibri, sans-serif;"><span style="font-size: 10pt;
              line-height: 14.2667px; font-family: Arial, sans-serif;
              color: rgb(153, 153, 153);">
              
              #COMPANY 
              <br>
              #STREET 
              <br>
              #CITY
            
              </span><br><span style="font-size: 10pt; line-height:
                14.2667px; font-family: Arial, sans-serif; color:rgb(153, 153, 153);">
                
                m | 
                #PHONE
                <span>

                </span><br>
                e &nbsp;| <a rel="nofollow">
                
                  #E-MAIL

                </a></span><span
                style="font-family: Arial, sans-serif;"><br>
              </span><span style="font-size: 10pt; line-height:
                14.2667px; font-family: Arial, sans-serif; color:
                rgb(247, 148, 42);"><a rel="nofollow" href="https://klasfarm.sk" 
                style="color: rgb(247, 148, 42); text-decoration: none;">www.klasfarm.sk</a> &nbsp;|&nbsp;&nbsp;</span><b><span
                  style="font-family: Arial, sans-serif; color: rgb(247, 148, 42);">
                  <img src="https://klasfarm.sk/assets/vizitky/fb-iconv2.png"
                    alt="cid:image002.png@01D86EBE.F0B401C0" width="12"
                    height="12"></span></b><span style="font-size: 10pt;
                line-height: 14.2667px; font-family: Arial, sans-serif;
                color: rgb(247, 148, 42);">&nbsp;</span><a><span
                  style="font-size: 10pt; line-height: 14.2667px;
                  font-family: Arial, sans-serif; color: rgb(247, 148,42);">
                  <a rel="nofollow" href="https://www.facebook.com/ klasfarm1" 
                  style="color: rgb(247, 148, 42); text-decoration: none;">KlasFARM</a></span></a><span style="font-size: 10pt;
                  line-height: 14.2667px; font-family: Arial, sans-serif;"></span></p>    
                  <p class="MsoNormal" style="margin: 0cm 0cm 8pt;
                  line-height: 15.6933px; font-size: 11pt; font-family:
                  Calibri, sans-serif;"><b><span style="font-family: Arial,
                  sans-serif; color: rgb(95, 58, 23);"><img 
                  src="https://klasfarm.sk/assets/vizitky/vizitka-popis.png"
                  width="270" height="auto"></span></b></p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
